.med{
font-size:15px;
}
.short{
font-size:10px;
}
.big{
font-size:25px;
}
.red{
color:red
}
.blue{
color:blue;
}
.green{
color:green;
}
.Candara{
font-family:Candara;
}
.cyan{
color:cyan;
}
.Cambria{
font-family:Cambria;
}
.CooperBlack{
font-family:Cooper Black;
}